.profile__avatar-container {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size:auto;
  width: 120px;
  height: 120px;
}

.profile__avatar-container:hover {
  background-image: url(../../../images/editAvatar.png);
}